.form-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .form-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #6B7280;
  }
  
 
  .radio-group {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
  }
  
  .radio-option {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 10px ;
    color: #000000B2;
    font-weight: 300;
  }
  
  .radio-option input[type="radio"] {
    width: 15px;
    height: 15px;
    accent-color: #004EA0; 
    cursor: pointer;
  }
  
  .checkbox-container {
    margin-bottom: 20px;
  }
  
  .checkbox-option {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #666;
  }
  .span{
    color: #000000B2;
    font-weight: 700;
  }
  
.media-container {
    margin-bottom: 20px;
  }
  
  .media-label {
    font-size: 12px;
    font-weight: 500;
    color: #6B7280;
    margin-bottom: 10px;
    display: block;
  }
  
  .media-upload {
    position: relative;
    border: 1px dashed #E5E7EB;
    border-radius: 8px;
    padding: 28px;
    text-align: center;
    color: #666;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .file-input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .file-label {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #6B7280;
  }
  
  .file-preview {
    margin-top: 10px;
    max-width: 100%;
    max-height: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .file-preview-text {
    margin-top: 10px;
    color: #333;
    font-size: 14px;
    font-style: italic;
  }
  .deadline-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .deadline-label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
    display: block;
    align-self: flex-start;
    
  }
  
  .deadline-input {
    
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .back-btn,
  .next-btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    margin-top: 20px; 
    gap: 20px;
  }
  
  .back-btn,
  .next-btn {
    padding: 10px 20px; 
    font-size: 14px; 
    border: none;
    border-radius: 6px; 
    cursor: pointer; 
    transition: background 0.3s ease; 
  }
  
  
  .back-btn {
    background: #F5FAFF;
    color: #004EA0;
    display: inline;
  }
  
  .next-btn {
    color: #FFFFFF;
    background: #004EA0;
  } 

  .checkbox-container {
    display: flex;
    align-items: center;

  }
  .checkbox-option {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  
  .checkbox-option input[type="checkbox"] {
    width: 10px;
    height: 10px;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; 
    border: 1px solid #ccc;
    border-radius: 6px; 
    background: #fff;
    cursor: pointer;
    position: relative;
    transition: background 0.3s, border-color 0.3s;
  }
  
  .checkbox-option input[type="checkbox"]:checked {
    background: linear-gradient(to right, #002572, #007BFF);
  }
  
  .checkbox-option input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    top: 3px;
    left: 6px;
    transform: rotate(45deg);
  }
  @media (max-width:700px){
    .radio-group{
      flex-direction: column;
    }
    .form-title{
      margin-bottom: 10px;
    
    }
    .radio-option input[type="radio"] {
      width: 20px;
      height: 20px;
      margin-left: 15px;
    }
    .checkbox-option input[type="checkbox"] {
      margin-left: 15px;
    }

    .button-container {
      display: flex;
      flex-direction: column-reverse; 
      justify-content: center; 
      align-items: center; 
      width: 90%;
      height: 15vh; 
      gap: 5px; 
      margin: 0 auto; 
      margin-bottom: 10px;
  }
  .bak , .nex {
    height: 40px;
    border-radius: 8px;
  
  }
  .deadline-input{
    width: 90%;

  }
  
  }
  