 
  @media (max-width: 991px) {
    .logo-1 {
      display: none;
    }
    
    .logo-2 {
      display: inline;
    }
  
    .nav-link::after {
      content: '';
    }
  
    .nav-link:hover::after {
      width: 0; 
    }
  
    .active-link .nav-link::after {
      width: 0; 
      transition: none; 
    }
  
    .navbar-nav {
      margin-left: 2em !important;
    }
  }
  

  