

 .title {
  font-weight: bold;
  color: #333;
  margin-top:10px;
} 

.subtitle {
  font-size: 13px;
  color: #6b7384;
  margin-bottom: 10px;
  font-weight: bold;
} 
.gridContainer {
  display: grid;
  grid-template-columns: 35% 45%;
  height: 100vh; 
  justify-content: center;
}
.formContainer {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%; 
  position: relative;
}

.imageContainer {
  background-image: url('../images/signup.png');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 78, 160, 0.7));
  display: flex;
  align-items:flex-end;
}

.logoContainer {
  position: absolute;
  top: 20px; 
  right: 20px; 
}

.logo {
  width: 80px; 
  height: auto;
}

.overlayText {
  display: flex;
  color: white;
  font-size: 20px; 
  justify-content: flex-end;
  padding: 10px; 
}