

.button-container {
    display: flex;
   
    align-items: center;  
  }
  
  .allbtn {
    font-size: 14px;
    width: auto;  
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(to right, #002572, #007BFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: flex;  
    align-items: center;  
    justify-content: center;  
    padding: 5px 15px;  
    border: 1px solid #007BFF;
    margin: 5px;
  }
  .workspace{
    font-size: 14px;
    width: auto;  
    height: 35px;
    border-radius: 5px;
    display: flex;  
    align-items: center;  
    justify-content: center;  
    padding: 5px 15px;  
    border: 1px solid #E5E7EB;
    margin: 5px;
    color: #4B5563;
  }
  

  .circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #D9D9D9;
    display: inline-block;  
    margin-right: 8px;  
  }
  